/* Navbar */

/* .nav-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
} */

.justify-content-end {
    font-size: 22px;
}

/* body {
    background-color: rgb(122, 120, 120);
} */

.nav-link {
    /* color: black; */
    color:#701322;
    
}

.nav-link:hover {
    /* color:#701322; */
    color:white;
    /* border-bottom: 1px solid #091e3e; */
    border-bottom: 1px solid white;
}

.header-images {
    position: relative;
    display: inline-block; /* Ensure the container fits the image */
}

.header-image{
    /* opacity: 0.6; */
    display: block;
}

.header-images::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 68, 153, 0.5); /* Blue color with 50% transparency */
    z-index: 1; /* Ensure the overlay is on top of the image */
}

/* .header h3, .header h1 {
    color: white;
} */

.info {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    text-align: center;
}

.info h3 {
    font-size: 30px;
    margin: 20px 0px;
}
.info h1 {
    font-size: 60px;
}